* {
    margin: 0; 
    padding: 0;
}

h1 {
    text-align: center;
}


.photos {
    display: flex;
    background-color: lightgray;
    justify-content: center;
}
.par-mani {
    display: flex;
    background-color: lightsteelblue;
    padding: 10px;
    margin-top: 30px;
    font-size: large;
}
.izglītība {
    margin-top: 30px;


}
.darba-pieredze {
    margin-top: 30px;
}