* {
    margin: 0; 
    padding: 0;
}

h1 {
    text-align: center;
}


.photos {
    display: flex;
    background-color: lightgray;
    justify-content: center;
}
.par-mani {
    display: flex;
    background-color: lightsteelblue;
    padding: 20px;
    margin-top: 30px;
    font-size: large;
    justify-content: center;
}
.izglītība {
    /* display: flex; */
    background-image: -webkit-image-set()
    margin-top: 30px;
    padding-left: 60px;
    /* justify-content: ; */


}
.darba-pieredze {
    margin-top: 30px;
    padding-left: 60px;
}

.valodu-prasmes {
    margin-top: 30px;
    padding-left: 60px;
}

.citas-prasmes {
    margin-top: 30px;
    padding-left: 60px;
}

.personiskas-ipasibas {
    margin-top: 30px;
    padding-left: 60px;
    margin-bottom: 60px;
}